<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anéis - Prime Multimarcas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Topbar -->
    <div class="topbar">
        <ul>
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="https://wa.me/5511992314981" target="_blank">WHATSAPP</a></li>
            <li><a href="https://www.instagram.com/_prime.joias">INSTAGRAM</a></li>
        </ul>
    </div>

    <section class="produtos" style="padding-top:50px;">
        <h2>Anéis</h2>
        <div class="container grid">
            <div class="card">
                <img src="{{ url_for('static', filename='images/anel1.jpg') }}" alt="Anel Prata Solitário">
                <div class="card-info">
                    <h5>ANEL PRATA SOLITARIO ZIRCONIA CORACAO ARO TRABALHADO</h5>
                    <p>0062550</p>
                    <p>R$ 64,90</p>
                    <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200062550" class="btn-contato">COMPRAR</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='images/anel2.jpg') }}" alt="Novo Anel">
                <div class="card-info">
                    <h5>ANEL PRATA SOLITARIO ZIRCONIA CORACAO ESMERALDA ARO TRABALHADO</h5>
                    <p>0062553</p>
                    <p>R$ 65,90</p>
                    <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200062553" class="btn-contato">COMPRAR</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='images/anel3.jpg') }}" alt="Novo Anel">
                <div class="card-info">
                    <h5>ANEL PRATA SOLITARIO ZIRCONIA CORACAO ROSA ARO TRABALHADO</h5>
                    <p>0062551</p>
                    <p>R$ 65,90</p>
                    <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200062551" class="btn-contato">COMPRAR</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='images/anel4.jpg') }}" alt="Novo Anel" class="colar-icon">
                <div class="card-info">
                    <h5>ANEL PRATA SOLITARIO ARO DUPLO TORCIDO</h5>
                    <p>0067557</p>
                    <p>R$ 69,99</p>
                    <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200067557" class="btn-contato">COMPRAR</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='images/anel5.jpg') }}" alt="Colar" class="colar-icon">
                <div class="card-info">
                    <h5>ANEL PRATA ABERTO LETRA A CRAVEJADA</h5>
                    <p>0062148</p>
                    <p>R$ 129,99</p>
                    <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200062148" class="btn-contato">COMPRAR</a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='images/anel6.jpg') }}" alt="Colar" class="colar-icon">
                <div class="card-info">
                    <h5>ANEL PRATA ALIANCA INTEIRA ZIRCONIAS</h5>
                    <p>0058452</p>
                    <p>R$ 84,99</p>
                    <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200058452" class="btn-contato">COMPRAR</a>
                </div>
            </div>

        </div> <!-- fim da grid -->

        <!-- Botão de Voltar -->
        <div style="text-align:center; margin-top:20px;">
            <a href="/joias" class="btn-contato">← Voltar para Joias</a>
        </div>
    </section>

</body>
</html>
