<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulseiras - Prime Multimarcas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <!-- Topbar -->
    <div class="topbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="https://wa.me/5511992314981" target="_blank">WHATSAPP</a></li>
            <li><a href="https://www.instagram.com/_prime.joias">INSTAGRAM</a></li>
        </ul>
    </div>

<!-- Produtos Pulseiras -->
<section class="produtos">
    <h2>Pulseiras</h2>
    <div class="container grid">
        <div class="card">
            <img src="{{ url_for('static', filename='images/pulseira1.jpg') }}" alt="Pulseira" class="pulseira-icon">
            <div class="card-info">
                <h5>PULSEIRA PRATA BARRINHAS LISAS</h5>
                <p>0061850</p>
                <p>R$ 49,99</p>
                <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200061850" class="btn-contato">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/pulseira2.jpg') }}" alt="Pulseira" class="pulseira-icon">
            <div class="card-info">
                <h5>PULSEIRA PRATA BATIDINHA BORBOLETA VAZADA</h5>
                <p>0068187</p>
                <p>R$ 64,99</p>
                <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200068187" class="btn-contato">COMPRAR</a>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/pulseira3.jpg') }}" alt="Pulseira" class="pulseira-icon">
            <div class="card-info">
                <h5>PULSEIRA PRATA BATIDINHA BUZIO</h5>
                <p>0057536</p>
                <p>R$ 66,99</p>
                <a href="https://wa.me/5511992314981?text=Olá,%20tenho%20interesse%20no%20Item%200057536" class="btn-contato">COMPRAR</a>
            </div>
        </div>
    </div> <!-- fecha container grid -->

    <!-- Botão de Voltar -->
    <div style="text-align:center; margin-top:20px;">
        <a href="/joias" class="btn-contato">← Voltar para Joias</a>
    </div>
</section>


    <!-- WhatsApp fixo -->
    <a href="https://wa.me/5511999999999" class="whatsapp-float" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>

</body>
</html>
